

@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@1&family=Ubuntu:wght@300;400&display=swap');

*{
  
  margin: 0%;
  padding: 0%;
  font-family: 'Ubuntu', sans-serif;
}
.navigation {
  display: flex;
 justify-content: space-between;
  height: 100px;
background:#00293f;
text-align: center;
position:sticky;
}
.left {
  display: inline;
  padding-top: 30px;
  margin-left: 30px;
  display: flex;
} 

  body{
     background: #ffff;
    font-family: 'Ubuntu', sans-serif;
  }
.left h2{
  justify-content: center;
  margin-right: 20px;
  font-size: 30px;
  padding: auto;
  color: white;
}
.left a{  
  display: inline;
  text-decoration: none;
  list-style-type: none;
  display: block;
  font-size: 30px;
  color: #ffffff;
  justify-content: center;
  cursor: pointer;

}
 
 .right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

 .right li a {
  font-size: 25px;
  text-decoration: none;
  list-style-type: none;
  display: block;
  padding-top: 30px;
  padding-right: 40px;
  color:white;
  cursor: pointer;
}
.left  a:hover{
  color: rgb(63, 31, 168);
  /* text-decoration: underline; */
}

.right ul li a:hover{
  /* border: 2px solid white; */
  color: rgb(98, 75, 199);
  /* padding-bottom: 5px; */
  /* text-decoration: underline; */
  /* transition: cubic-bezier(0.25, 0.46, 0.45, 0.94); */
  
  
}
.content{
  
   background:#ebeaeeee;
    margin: auto;
    height: auto; 
    width: 900px;
    padding: 2%;
    /* border-radius: 20px; */
    word-spacing: 20%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;

}
.footer{
  margin-top: 40px;
    height: 100px;
    background:#00293f;
}
.content h1{
  /* justify-content: center; */
  height: auto;

  /* background: rgb(231, 244, 245); */
  /* border: 2px black; */
}
.content {
  
  margin-top: 30px;
  
}
 
.content.title{
  padding: 30px;
  font-family: fantasy;
  font-weight: bold;
  padding-bottom: 30px; /* change*/
  font-family: 'Ubuntu', sans-serif;
}
.box{
  margin-top: 10%;
}
.post{

  margin-top: 30%;
  
}
textarea{
  border-radius: 10px;
  background: whitesmoke;
}
/* .content a{
  width: 20px;
  border: 1px red;
  background: rgb(38, 170, 5);
} */
.post{
  margin-top:30px;
  padding: 5px;
}
input[type="submit"]{
background-color: rgb(54, 10, 95);
color: aliceblue;   
padding: 4px;
justify-content: center;
border-radius: 20px;
font-weight: bold;
margin-left: 10px;
margin: top 10px;
}
.btn a{
  margin: top 20%;
font-size: 13px;
text-decoration: none;
list-style-type: none;
display: inline;
padding: 5px;
color: rgb(24, 21, 228);
width:15%;
cursor: pointer;
/* border:2px solid ; */
/* background:lightgreen; */
}
.btn a:hover{
 color: black;

}
.btn{
  margin: 20px;
}
 .content a{
       width: 40px;
       border: 1px red;
       /* background: rgb(8, 166, 206); */
       text-decoration: none;
       list-style-type: none;
       padding: 4px;
       margin:top 30px;
       color:rgb(56, 8, 187);
       font-weight: bold;
       margin-right:30px; /*change*/
     }
     .btnn{
      margin-left: 8px;
       margin:top 20px;
       padding: 10px;
       /* padding:left 10px; */
       /* margin-right:20px ; */
     } 

      .time{
        margin-left: 20px;
        padding-top: 20px;
      }
    .time1{
      margin-left: 20px;
      padding-top: 0px;
    }
    .desc{
      color: black;
      padding: 20px;
      margin:left 40px;
      font-size: 20px;
      /* font-family: 'Ubuntu', sans-serif; */
      font-family: 'Asap', sans-serif;
      /* word-spacing: 20%;  */
      letter-spacing: 0.5px;
  }
    .side{
      background:rgb(36, 36, 133);
      width: 20%;
      height: 100%;
    }
  